<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/elementUI.css">
    <link rel="stylesheet" href="./css/member_add.css">
    <link rel="stylesheet" href="./css/index.css">
    <!-- 如果不用script标签进行同步请求 而是使用异步 则用户会看到网页内容后再被阻止请求 -->
    <script src="/users/checkState"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-header height="100px">
            <h2>欢迎你 admin</h2>
            <p>添加管理员账号</p>
        </el-header>

        <el-main>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>添加分类</span>
                </div>
                <el-form  :label-position="labelPosition" :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm">
                    <el-form-item label="所有分类" prop="classify">
                        <el-select v-model="ruleForm2.classify">
                            <el-option v-for="(item, index) in classifyList" :label="item.classify" :value="item.classify"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="分类名称" prop="classifyName">
                        <el-input v-model="ruleForm2.classifyName"></el-input>
                    </el-form-item>
                    <el-form-item label="状态" prop="status">
                        <el-radio-group v-model="ruleForm2.status">
                            <el-radio :label="'启用'"></el-radio>
                            <el-radio :label="'禁用'"></el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm2')">修改</el-button>
                        <el-button @click="resetForm('ruleForm2')">重置</el-button>
                    </el-form-item>
                </el-form>
            </el-card>
        </el-main>

        <el-footer height="61px">
            <p>&copy;Copyright2018 华联超市管理系统</p>
        </el-footer>
    </el-container>
</div>

<!-- 引入jQuery -->
<script src="./js/jquery.min.js"></script>
<!-- 引入vue -->
<script src="js/vue.js"></script>
<!-- 引入elementUI -->
<script src="./js/elementUI.js"></script>

<script>
     let app = new Vue({
        el: "#app",
        data() {
            return {
                classifyList: [],
                labelPosition: 'top',
                ruleForm2: {
                    classify: '顶级分类',
                    classifyName: "",
                    status: "",
                    c_id: "",
                    oldClassifyName: ""
                },
                rules2: {
                    classify: [
                        { required: true, message: "请选择用户组", trigger: "change"}
                    ],
                    classifyName: [
                        { required:true, message: "请输入分组名称！", trigger: "blur"}
                    ],
                    status: [
                        { required: true, message: '请选择分组状态', trigger: 'change' }
                    ]
                }
            };
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        // console.log(this.ruleForm2);
                        // 发送ajax请求
                        $.post("./classify/save", this.ruleForm2, (result)=>{
                            // console.log(result);
                            if (result.isOK) {
                                this.$refs[formName].resetFields();
                                location.href = "./classify_list.html";
                            }else {
                                this.$message.error('修改失败！');
                            }
                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        },
        mounted() {
            let reqUrl = location.href;
            let cid = reqUrl.split("=")[1];

            $.get("./classify/edit", {cid}, (result)=>{
                // console.log(result);
                this.ruleForm2.classify = result[0].classify;
                this.ruleForm2.classifyName = result[0].c_name;
                this.ruleForm2.oldClassifyName = result[0].c_name; // 保存旧的分类名
                this.ruleForm2.status = result[0].c_status;
                this.ruleForm2.c_id = result[0].c_id;
            });
            // 获取全部的类型
            $.get('/classify/getClassify', (result)=>{
                // console.log(result);
                this.classifyList = result;
            })
        }
    });

    parent.app = app;
</script>
</body>
</html>