<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/elementUI.css">
    <link rel="stylesheet" href="./css/member_add.css">
    <link rel="stylesheet" href="./css/index.css">
    <!-- 如果不用script标签进行同步请求 而是使用异步 则用户会看到网页内容后再被阻止请求 -->
    <script src="/users/checkState"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-header height="100px">
            <h2>欢迎你 admin</h2>
            <p>查看和管理所有已有商品</p>
        </el-header>

        <el-main>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>商品管理</span>
                </div>

                <el-form :inline="true" :model="search" class="demo-form-inline">
                    <el-form-item label="分类">
                        <el-select v-model="goodsList.classify" placeholder="--选择商品分类--">
                            <el-option v-for="(item, index) in goodsList" :label="item.classify" :value="item.classify"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item id="searchInput" label="关键字">
                        <el-input v-model="search.keywords" placeholder="商品名称，条形码"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="success" size="mini" @click="onSubmit">查询</el-button>
                    </el-form-item>
                </el-form>


                <template>
                    <el-table :data="goodsList" style="width: 100%">
                        <el-table-column label="商品条形码" width="150">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.barcode }}</span>
                            </template>
                        </el-table-column>

                        <el-table-column label="商品名称">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.goodsname }}</span>
                            </template>
                        </el-table-column>

                        <el-table-column label="所属分组">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.classify }}</span>
                            </template>
                        </el-table-column>

                        <el-table-column label="售价（元）">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.goodsprice }}</span>
                            </template>
                        </el-table-column>

                        <el-table-column label="促销价（元）">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.saleprice }}</span>
                            </template>
                        </el-table-column>

                        <el-table-column label="市场价（元）">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.marketprice }}</span>
                            </template>
                        </el-table-column>

                        <el-table-column label="库存">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.stockNum }}</span>
                            </template>
                        </el-table-column>

                        <el-table-column label="商品简介">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.goodsDetails }}</span>
                            </template>
                        </el-table-column>


                        <el-table-column label="管理" width="150">
                            <template slot-scope="scope">
                                <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                                <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>

                <div class="block">
                    <el-pagination
                            background
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page="currentPage"
                            :page-sizes="[5, 10, 15, 20]"
                            :page-size="pageSize"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="total">
                    </el-pagination>
                </div>
            </el-card>
        </el-main>

        <el-footer height="61px">
            <p>&copy;Copyright2018 华联超市管理系统</p>
        </el-footer>
    </el-container>
</div>

<!-- 引入jQuery -->
<script src="./js/jquery.min.js"></script>
<!-- 引入vue -->
<script src="js/vue.js"></script>
<!-- 引入elementUI -->
<script src="./js/elementUI.js"></script>

<script>
    new Vue({
        el: "#app",
        data() {
            return {
                goodsList: [],
                currentPage1: 1,
                currentPage2: 2,
                currentPage3: 3,
                currentPage4: 4,
                search: {
                    keywords: '',
                    classify: ''
                },
                total: 10,        // 总数据条数
                currentPage: 1,  // 当前页数
                pageSize: 5     // 每页显示的条数
            }
        },
        methods: {
            handleEdit(index, row) {
                console.log(index, row);
            },
            handleDelete(index, row) {
                console.log(index, row);
            },
            handleSizeChange(val) {
                // console.log(`每页 ${val} 条`);
                this.pageSize = val;
                this.getData();
            },
            handleCurrentChange(val) {
                // console.log(`当前页: ${val}`);
                this.currentPage = val;
                this.getData();
            },
            //  查询
            onSubmit() {
                this.getData();
            },
            // 查询+分页
            getData(){
                let obj = {
                    currentPage: this.currentPage,   // 当前页
                    pageSize: this.pageSize,          // 每页大小
                    keywords: this.search.keywords,  // 关键字
                    classify: this.search.classify   // 分类
                };
                // console.log(obj);

                $.get('/goods/listPage', obj, (result)=>{
                    // console.log(result);
                    this.total = result.total; // 负荷条件的总纪录数
                    this.goodsList = result.dataList;  // 符合条件的分页数据
                })
            }
        },
        mounted(){
            this.getData();
            $.get('/goods/list', (result)=>{
                console.log(result);
                this.goodsList = result;
            });

        }
    });
</script>
</body>
</html>