<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/elementUI.css">
    <link rel="stylesheet" href="./css/member_add.css">
    <link rel="stylesheet" href="./css/index.css">
    <!-- 如果不用script标签进行同步请求 而是使用异步 则用户会看到网页内容后再被阻止请求 -->
    <script src="/users/checkState"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-header height="100px">
            <h2>欢迎你 admin</h2>
            <p>1.你可以在这里添加新的商品或者编辑已有的商品。2.新添加商品的时候可以同时进行入库(入库必须有数量和进价)! 3.带<span class="cRed">*</span>的项目必填</p>
        </el-header>

        <el-main>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>添加管理员账号</span>
                </div>
                <el-form  :label-position="labelPosition" :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm">
                    <el-form-item label="所属分类" prop="classify">
                        <el-select v-model="ruleForm2.classify" placeholder="请选择分类">
                            <el-option v-for="(item, index) in ruleForm2.classifyList" :label="item.c_name" :value="item.c_name"></el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="商品条形码" prop="barCode">
                        <el-input v-model="ruleForm2.barCode"></el-input>&emsp;<el-button type="success" @click="getBarCode()">获取条形码</el-button>
                    </el-form-item>

                    <el-form-item label="商品名称" prop="goodsName">
                        <el-input v-model="ruleForm2.goodsName"></el-input>
                    </el-form-item>

                    <el-form-item label="进价" prop="purchasePrice">
                        <el-input v-model.number="ruleForm2.purchasePrice" @blur="getPrice()"></el-input>元
                    </el-form-item>

                    <el-form-item label="市场价" prop="marketPrice">
                        <el-input v-model.number="ruleForm2.marketPrice" :disabled="true"></el-input>元
                        <p class="cCCC">默认市场价为售价的1.2倍</p>
                    </el-form-item>

                    <el-form-item label="商品售价" prop="goodsPrice">
                        <el-input v-model.number="ruleForm2.goodsPrice" :disabled="true"></el-input>元
                    </el-form-item>

                    <el-form-item label="入库数量" prop="count">
                        <el-input v-model.number="ruleForm2.count"></el-input>
                        <p class="cCCC">记重商品单位为千克</p>
                    </el-form-item>

                    <el-form-item label="商品重量" prop="weight">
                        <el-input v-model.number="ruleForm2.weight"></el-input>
                    </el-form-item>

                    <el-form-item label="商品单位" prop="unit">
                        <el-input v-model="ruleForm2.unit"></el-input>
                    </el-form-item>

                    <el-form-item label="会员优惠" prop="isDiscount">
                        <el-radio-group v-model="ruleForm2.isDiscount">
                            <el-radio label="享受"></el-radio>
                            <el-radio label="不享受"></el-radio>
                        </el-radio-group>
                    </el-form-item>

                    <el-form-item label="是否促销" prop="isPromotion">
                        <el-radio-group v-model="ruleForm2.isPromotion">
                            <el-radio label="启用"></el-radio>
                            <el-radio label="禁用"></el-radio>
                        </el-radio-group>
                    </el-form-item>

                    <el-form-item label="商品简介">
                        <el-input type="textarea" v-model="ruleForm2.introduce"></el-input>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm2')">提交</el-button>
                        <el-button @click="resetForm('ruleForm2')">重置</el-button>
                    </el-form-item>
                </el-form>
            </el-card>
        </el-main>

        <el-footer height="61px">
            <p>&copy;Copyright2018 华联超市管理系统</p>
        </el-footer>
    </el-container>
</div>

<!-- 引入jQuery -->
<script src="./js/jquery.min.js"></script>
<!-- 引入vue -->
<script src="js/vue.js"></script>
<!-- 引入elementUI -->
<script src="./js/elementUI.js"></script>

<script>
    new Vue({
        el: "#app",
        data() {
            return {
                labelPosition: 'top',
                ruleForm2: {
                    classifyList: [],
                    barCode: "",
                    goodsName: "",
                    goodsPrice: 0,
                    marketPrice: 0,
                    purchasePrice: 0,
                    count: "",
                    weight: "",
                    unit: "",
                    isDiscount: "",
                    isPromotion: "",
                    introduce: ""
                },
                rules2: {
                    classifyList: [
                        { required: true, message: "请选择用户组", trigger: "change"}
                    ],
                    barCode: [
                        { required: true, message: "请获取条形码", trigger: "change"}
                    ],
                    goodsName: [
                        { required: true, message: "请输入商品名字", trigger: "blur"}
                    ],
                    purchasePrice: [
                        { required: true, message: "请输入进价", trigger: "blur"},
                        { type: 'number',message: "进价必须是数字！", trigger: "blur"}
                    ],
                    count: [
                        { required: true, message: "请输入入库数量", trigger: "blur"},
                        { type: 'number',message: "进价必须是数字！", trigger: "change"}
                    ],
                    weight: [
                        { required: true, message: "请输入商品重量", trigger: "blur"},
                        { type: 'number',message: "进价必须是数字！", trigger: "change"}
                    ],
                    unit: [
                        { required: true, message: "请输入商品单位", trigger: "blur"}
                    ],
                    isDiscount: [
                        { required: true, message: "请选择是否优惠", trigger: "change"}
                    ],
                    isPromotion: [
                        { required: true, message: "请选择是否促销", trigger: "change"}
                    ]
                }
            };
        },
        mounted(){
            $.get('/classify/list', (result)=>{
                // console.log(result);
                this.ruleForm2.classifyList = result;
            })
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        console.log(this.ruleForm2);
                        $.post('./goods/add', this.ruleForm2, (result)=>{
                            // console.log(result);
                            if (result.isOK){
                                this.$message({
                                    message: result.msg,
                                    type: 'success'
                                });
                                location.href = "./goods_list.html";
                            }else {
                                this.$message.error('添加失败！');
                            }
                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            // 生成条形码
            getBarCode(){
                this.ruleForm2.barCode = new Date().getTime();
            },
            // 计算市场价和售价
            getPrice() {
                this.ruleForm2.purchasePrice = parseFloat((this.ruleForm2.purchasePrice*1).toFixed(2));
                this.ruleForm2.marketPrice = (this.ruleForm2.purchasePrice * 2).toFixed(2);
                this.ruleForm2.goodsPrice = (this.ruleForm2.purchasePrice * 0.8).toFixed(2);
            }
        }
        /*computed: {
            marketPrice() {
                this.ruleForm2.marketPrice = this.ruleForm2.goodsPrice * 1.2;
                return (this.ruleForm2.goodsPrice * 1.2).toFixed(2);
            }
        }*/
    });
</script>
</body>
</html>